@model PlanesDeViajes.Models.ViewModels.NuevoDetallePlanViewModel

@{
    ViewBag.Title = "Agrega Hotel al plan";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("DetallesPlan", "Planes", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(d => d.IdPlan)
                @Html.TextBoxFor(d => d.IdPlan, new { @class = "form-control", Value=ViewBag.id })
                @Html.ValidationMessageFor(d => d.IdPlan, "", new { @class = "error" })
            
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.IdHotel)
                @Html.TextBoxFor(d => d.IdHotel, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.IdHotel, "", new { @class = "error" })
            </div>

            <div class="form-group">
                @Html.LabelFor(d => d.Descripcion)
                @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Descripcion, "", new { @class = "error" })
            </div>


            <div style="text-align: right; padding:10px; ">
                <input class="btn btn-success" value="Guardar" type="submit" />
            </div>

        </div>
    </div>
}